* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 85%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
}
img {
    background: #000;
    width: 100%;
    height: 300px;
    object-fit: cover;
}